
<h1 class="text-center"><%= :spot %></h1>
	<div class="text-center">
	<%= link_to 'Back to sessions', "/skate_sessions?current=true" %> 
	</div>
<hr>

<div class="lt-sidebar">

<div class="row">
	<div class="col-md-2">
		<div class="borderRT">
			<div class="form-group">

				<%= form_for [@skate_session, @photo] do |f| %>
					<%= f.file_field :photo %><br>
					<strong>Caption</strong> <br>
					<%= f.text_field :caption, placeholder: "Enter caption" %>
					<br>
					<br>
					<%= f.submit "Submit", class: "btn btn-primary" %>

				<% end %>

			</div>
		</div>
	</div>

	<div class="row">

		<% @skate_session.photos.each do |p| %>
			<div class="col-md-3"> <a href="/skate_sessions/:skate_session_id/photos/:id/edit"> <%= image_tag p.photo.url(:medium) %> </a>
			<br>
			 <%= p.caption %>
			</div>
			
		<% end %>

	</div>
</div>
	
</div>