<!-- ** SELECTED SPOT PAGE ** -->

<div class="text-center">
	<h1><%= @skate_session.spot %></h1>
	<%= link_to 'Back to sessions', "/skate_sessions?current=true" %> 
</div>
<hr>

 			<!-- **** UPLOAD CONTENT AREA **** -->

<div class="lt-sidebar">

<div class="row">
	<div class="col-md-2">
		<div class="borderRT">
			<div class="form-group">

					<!-- ** UPLOAD PHOTOS ** -->

				<%= form_for [@skate_session, @photo] do |f| %>
					<%= f.label :photo, "Upload photo here" %>
					<br>
					<%= f.file_field :photo, class: "form-control" %>
					<br>
					<%= f.label :remote_image_url, "or image URL" %>
					<br>
					<%= f.text_field :remote_image_url, class: "form-control", placeholder: "image URL" %>
					<br>
					<%= f.label :caption, "Enter a caption" %>
					<br>
					<%= f.text_field :caption, class: "form-control", placeholder: "Enter caption" %>
					<br>
					<%= f.submit "Submit", class: "btn btn-primary" %>

				<% end %>

				<br>

					<!-- ** UPLOAD VIDEOS **-->

				<%= form_for [@skate_session, @video] do |v| %>
					<%= v.label :video, "Upload video here" %>
					<br>
					<%= v.file_field :video, class: "form-control" %>
					<br>
					<%= v.label :caption, "Enter a caption" %>
					<br>
					<%= v.text_field :caption, class: "form-control", placeholder: "Enter caption" %>
					<br>
					<%= v.submit "Submit", class: "btn btn-primary" %>

				<% end %>

			</div>
		</div>
	</div>

			<!-- **** SHOW UPLOADED CONTENT AREA **** -->

	<div class="row">
		<% @skate_session.photos.each do |p| %>
			<div class="col-md-3"> <a href="/skate_sessions/:skate_session_id/photos/:id"> <%= image_tag p.photo.url(:medium) %> </a>
			<br> 
			 <%= p.caption %>
			</div>

		<% end %>

		<% @skate_session.videos.each do |x| %>
			<div class="col-md-3">  
			<!-- Posted by: -->
				<%= video_tag x.video.url, :controls => true %>
				<br>
			  <%= x.caption %>
			</div>

		<% end %>

	</div>
</div>
	
</div>