
<body class="bgl">
<div class="col-md-2">
</div>

<div class="col-md-7">
	<div class="text-left">
		<div class="intro">
			<h2>Welcome to Go Skate</h2>
				<strong>
				<p>A place where you can post content of your skate sessions with your friends</p>
				<p>Upload photos and videos of your daily sessions</p>
				<p>Find out where your friends are skating</p>
				</strong>
		</div>
	</div>
</div>

<%= form_for :user do |f| %>
	<form>

		<div class="col-md-2 loginHolder">
			<div class="form-group">
				<h1 class="text-center">Log In</h1>
				<strong>Email: </strong>
				<%= f.text_field :email, class: "form-control", placeholder: "Enter email" %><br>
				
				<strong>Password: </strong> 
				<%= f.password_field :password, class: "form-control", placeholder: "Password" %><br>

				<%= link_to 'forgot password?', "/"%>
			</div>
				<%= f.submit "Log In", class: "btn btn-primary" %>
		</div>

	</form>
<% end %>
</div>

<div class="col-md-1">
</div>

</body>