<!-- *** LOG IN PAGE ***-->
<body class="bgl">

<div class="col-md-1">
</div>

<div class="col-md-8">
	<div class="text-left">
		<div class="whiteText">
				<br>
				<br>
				<h5>
				<li>Post content of your skate sessions with your friends</li><br>
				<li>Upload photos and videos of your daily sessions</li><br>
				<li>Find out where your friends are skating</li>
				</h5>
		</div>
	</div>
</div>

<%= form_for :user do |f| %>
	<form>

		<div class="col-md-2 loginHolder">
			<div class="form-group">
				<h1 class="text-center">Log In</h1>
				<strong>Email: </strong>
				<%= f.text_field :email, class: "form-control", placeholder: "Enter email" %><br>
				
				<strong>Password: </strong> 
				<%= f.password_field :password, class: "form-control", placeholder: "Password" %><br>

				<%= link_to 'forgot password?', "/"%>
			</div>
				<%= f.submit "Log In", class: "btn btn-primary" %>
		</div>

	</form>
<% end %>
</div>

<div class="col-md-1">
</div>

</body>