<h2 class="text-center">Welcome <%= current_user.first_name + " " + current_user.last_name %></h2>

<div class="text-center">

<%= link_to 'Create a Session', new_skate_session_path %> |
<%= link_to 'Join a Session', "/skate_sessions?current=true" %> |
<%= link_to 'Current Session', skate_session_path() %> |
<%= link_to 'View Past Sessions' %>

</div>
<hr>


<%# @skate_session.each do |i| %>
	<%#= i.spot %><br>
	<%#= image_tag i.photo.url(:medium) %>
<%# end %>

