<!-- *** EVERYTHING ON THIS PAGE WILL BE DISPLAYED ON ALL PAGES *** --> 

<!DOCTYPE html>
<html>
  <head>
    <title>Go Skate</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
         <!--  **** NAVBAR ***  -->
    <nav class="navbar navbar-inverse">

    <% if current_user %>  
      <strong>
       <h4 class="navbar-text">
         Logged in as <%= current_user.first_name %>
       </h4>
      </strong>  <!-- wtf? if comment out, sessions nav goes bold -->
      <div class="text-right">
       
        <%= link_to('Home', user_path(current_user.id), class: "btn btn-default navbar-btn") %> 
         
        <%= link_to('Logout', logout_path, class: "btn btn-default navbar-btn") %> 

    </div>

    <% else %>

    	<div class="text-right">
      
        <%= link_to("Login", login_path, class: "btn btn-default navbar-btn") %>

        <%= link_to("Signup", signup_path, class: "btn btn-default navbar-btn") %>
          
    	</div>

    <% end %>

    </nav>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert">
          <%= value %>
        </div>
      <% end %>

    <%= yield %>

  </body>
</html>
